@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.card {
  transform-style: preserve-3d;
  transition: 400ms;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0)) translateY(0);
}

.card .front {
  left: 0;
}

.card:hover {
  scale: 1.05;
}

.card .front,
.card .back {
  position: absolute;
  backface-visibility: hidden;
}

.card .back {
  transform: rotateY(180deg)
}

.flip {
  --rotate-y: 180deg
}