@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.card {
  transform-style: preserve-3d;
  transition: 150ms;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0)) translateY(0);
}

.card .front {
  left: 0;
}

.card:hover {
  scale: 1.05;
}

.card .front,
.card .back {
  position: absolute;
  backface-visibility: hidden;
}

.card .back {
  transform: rotateY(180deg)
}

.flip {
  --rotate-y: 180deg
}